{% extends 'base.html.twig' %}

{% block title %}Material index{% endblock %}

{% block body %}
    <div class="form-group row">
        <div class="col-sm-7">
            <h1 class="h3 mb-3 font-weight-normal">Material index</h1>
        </div>
        <div class="col-sm-1">
            <a href="{{ path('material_new') }}" class="btn btn-success">Create new</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Active?</th>
                <th>Name</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td>{{ material.isActive ? '<span class="badge badge-success">Yes</span>' : '<span class="badge badge-danger">No</span>' }}</td>
                <td>{{ material.name }}</td>
                <td class="text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {#<a href="{{ path('material_show', {'id': material.id}) }}">show</a>#}
                        <a href="{{ path('material_edit', {'id': material.id}) }}" class="btn btn-primary">Edit</a>
                        {{ include('material/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}