{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.locationType) }}
    {#{{ form_row(form.percentage) }}#}
    <div class="form-group row">
        {{ form_label(form.percentage) }}
        <div class="col-sm-10 input-group">
            {{ form_widget(form.percentage) }}
            <div class="input-group-append">
                <span class="input-group-text">%</span>
            </div>
            {#{{ form_errors(form.percentage) }}#}
        </div>
    </div>
    {{ form_row(form.isActive) }}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
        <div class="col-sm-2">
            <a href="{{ path('location_index') }}" class="btn btn-outline-info">back to list</a>
        </div>
    </div>
{{ form_end(form) }}