{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.celebrationType) }}
    {{ form_row(form.location) }}
    {#{{ form_row(form.locationPercentage) }}#}
    <div class="form-group row">
        {{ form_label(form.locationPercentage) }}
        {{ form_errors(form.locationPercentage) }}
        <div class="col-sm-10 input-group">
            {{ form_widget(form.locationPercentage) }}
            <div class="input-group-append">
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>
    {{ form_row(form.date) }}
    {{ form_row(form.revenue) }}
    {{ form_row(form.workerExpense) }}
    {{ form_row(form.transportExpense) }}
    {{ form_row(form.isActive) }}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            <button class="btn btn-primary" name="saveAndContinue">{{ button_2|default('Save & continue') }}</button>
        </div>
        <div class="col-sm-2">
            <a href="{{ path('celebration_index') }}" class="btn btn-outline-info">back to list</a>
        </div>
    </div>
{{ form_end(form) }}