{% extends 'base.html.twig' %}

{% block title %}DecorationItem{% endblock %}

{% block body %}
    <h1>DecorationItem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ decoration_item.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ decoration_item.price }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ decoration_item.quantity }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ decoration_item.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('decoration_item_index') }}">back to list</a>

    <a href="{{ path('decoration_item_edit', {'id': decoration_item.id}) }}">edit</a>

    {{ include('decoration_item/_delete_form.html.twig') }}
{% endblock %}